<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="enviarCorreoRecuperacion()">
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" color="primary">Enviar correo de recuperación</ion-button>
  </form>
</ion-content>
