<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/mantenimiento"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Mantenimiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen="true">
  <ion-card *ngIf="mantenimiento">
    <ion-card-header>
      <ion-card-title>Editar Mantenimiento</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="guardarCambios()">
        <ion-item>
          <ion-label position="stacked">Vehículo</ion-label>
          <ion-input
            [value]="getVehiculoNombre(mantenimiento.vehiculo)"
            name="vehiculo"
            readonly
            disabled>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Tipo</ion-label>
          <ion-input [(ngModel)]="mantenimiento.tipo" name="tipo" required [disabled]="mantenimiento.completado === 'Completado'"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Descripción</ion-label>
          <ion-input [(ngModel)]="mantenimiento.descripcion" name="descripcion" required [disabled]="mantenimiento.completado === 'Completado'"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Fecha</ion-label>
          <ion-datetime display-format="YYYY-MM-DD" [(ngModel)]="mantenimiento.fecha" name="fecha" required [disabled]="mantenimiento.completado === 'Completado'"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Estado</ion-label>
          <ion-select [(ngModel)]="mantenimiento.estado" name="estado" required [disabled]="mantenimiento.completado === 'Completado'">
            <ion-select-option value="Operativo">Operativo</ion-select-option>
            <ion-select-option value="En mantenimiento">En mantenimiento</ion-select-option>
            <ion-select-option value="Fuera de servicio">Fuera de servicio</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Completado</ion-label>
          <ion-checkbox slot="start" [(ngModel)]="mantenimiento.completado" name="completado" [disabled]="mantenimiento.completado === 'Completado'"></ion-checkbox>
        </ion-item>
        <div style="padding-bottom: 24px;">
          <ion-button expand="block" type="submit" color="primary" style="margin-bottom: 16px;" [disabled]="mantenimiento.completado === 'Completado'">Guardar Cambios</ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-toast
    [isOpen]="showToast"
    [message]="toastMessage"
    [color]="toastColor"
    duration="2000"
    (ionDidDismiss)="showToast = false">
  </ion-toast>
</ion-content>
