<ion-header>
  <ion-toolbar>
    <ion-title>Vehículos de Emergencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" color="primary" (click)="abrirModal()">
    <ion-icon slot="start" name="add"></ion-icon>
    Agregar Vehículo
  </ion-button>

  <ion-item>
    <ion-input placeholder="Buscar vehículo" (ionInput)="searchChanged($event)"></ion-input>
  </ion-item>

  <ion-list>
    <ion-card *ngFor="let vehiculo of vehiculos$ | async">
      <ion-item [routerLink]="['/detalle-vehiculo', vehiculo.id]" detail>
        <ion-avatar slot="start">
          <ion-icon name="car-sport-outline" style="font-size: 2em;"></ion-icon>
        </ion-avatar>
        <ion-label>
          <p>
            Vehículo: <strong>{{ vehiculo.vehiculo }}</strong>, Estado: 
            <strong [ngClass]="{'ion-text-success': vehiculo.estado === 'Operativo', 'ion-text-danger': vehiculo.estado !== 'Operativo'}">
              {{ vehiculo.estado }}
            </strong>
          </p>
          <p *ngIf="vehiculo.ultimoMantenimiento">
            Último mantenimiento: {{ vehiculo.ultimoMantenimiento }}
          </p>
        </ion-label>
      </ion-item>
    </ion-card>
  </ion-list>

  <ion-toast
    [isOpen]="showToast"
    [message]="toastMessage"
    [color]="toastColor"
    duration="2000"
    (ionDidDismiss)="showToast = false">
  </ion-toast>
</ion-content>
