/* Estilos para la página Home */

ion-card {
  margin-top: 32px;
  border-radius: 18px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.07);
}

ion-card-title {
  font-size: 1.4em;
  color: #3880ff;
}

ion-button {
  margin-top: 12px;
}